#ifndef CREDENTIALS_H
#define CREDENTIALS_H

// WiFi
#define WIFI_SSID "ton_ssid"
#define WIFI_PASS "ton_mot_de_passe"

// MQTT
#define MQTT_SERVER "mqtt.example.com"
#define MQTT_PORT   8883
#define MQTT_USER   "ton_email@example.com"
#define MQTT_PASS   "ton_mot_de_passe_mqtt"
#define MQTT_DEVICE "meteoStation_1"

#endif
